.Stratergy{
    background-color: rgb(231, 231, 237);
    padding:20px;
    height: 100%;
    @media (max-width: 600px) {
        margin-left: 0;
        width: 100%;
        background-color: white;
    }
}

.container{
    display: flex;
    align-items: center;
    gap:15px;
}
.data{
    display: flex;
    justify-content: space-between;
   width: 100%;
   gap:20px
}
.button{
    width:80%;
    border-radius: 5px;
    @media (max-width: 600px) {
        width: 100%;
    }
}

.link{
    padding: 20px;
    text-align: center;
    @media (max-width: 600px) {
        display: none;
    }
}
